version: "3.9"

networks:
  devnet:
    name: ${NETWORK_NAME}
    driver: bridge

services:
  mysql:
    image: mysql:${MYSQL_VERSION}
    container_name: mysql-dev
    restart: "${RESTART_POLICY}"
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - ./data/mysql:/var/lib/mysql
    networks:
      - ${NETWORK_NAME}

  postgres:
    image: postgres:${POSTGRES_VERSION}
    container_name: postgres-dev
    restart: "${RESTART_POLICY}"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./config/postgres/init-db.sql:/docker-entrypoint-initdb.d/init-multiple-db.sql
    networks:
      - ${NETWORK_NAME}

  redis:
    image: redis:${REDIS_VERSION}
    container_name: redis-dev
    restart: "${RESTART_POLICY}"
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ./data/redis:/data
    networks:
      - ${NETWORK_NAME}

  keycloak:
    image: keycloak/keycloak:${KEYCLOAK_VERSION}
    container_name: keycloak-dev
    restart: "${RESTART_POLICY}"
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres-dev:5432/${KEYCLOAK_DB}
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_HOSTNAME: localhost
    command:
      - start-dev
    depends_on:
      - postgres
    ports:
      - "${KEYCLOAK_PORT}:8080"
    volumes:
      - ./data/keycloak:/opt/keycloak/data
    networks:
      - ${NETWORK_NAME}

  frankenphp:
    build:
      context: .
      dockerfile: ./config/frankenphp/Dockerfile
    container_name: frankenphp-dev
    restart: "${RESTART_POLICY}"
    env_file:
      - ./config/frankenphp/frankenphp.env
    environment:
      FRANKENPHP_DOCUMENT_ROOT: ${FRANKENPHP_DOCUMENT_ROOT}
      FRANKENPHP_SERVER_NAME: ${FRANKENPHP_SERVER_NAME}
    volumes:
      - "${FRANKENPHP_PROJECT_PATH}:/app"
      - ./config/frankenphp/frankenphp.ini:/usr/local/etc/php/php.ini
      - ./config/frankenphp/Caddyfile:/etc/caddy/Caddyfile
      - ./config/frankenphp/sites:/etc/caddy/sites
    ports:
      - "${FRANKENPHP_HTTP_PORT}:80"
    command: ["frankenphp", "run", "--config", "/etc/caddy/Caddyfile"]
    networks:
      - ${NETWORK_NAME}
